<div class="contenedor_mitadPresentacion">


    <h1>
        {{ medium.fraseH1 }}
    </h1>

    <p>
        {{ medium.parrafo1 }}
    </p>

    <p>
        {{ medium.parrafo2 }}
    </p>

    <div class="contenedor_gif">
        <img class="gif" src="https://media1.tenor.com/images/8ef5c7d46f1d869594a8bfc8d90fc753/tenor.gif?itemid=5604922" alt="gif_working">
        
    </div>

    <hr class="filete" width=40% size=2 noshade="noshade">

</div>
