<div class="contenedor_slider_gallery">


    <div class="contenedor_titulo_gallery">
        <h2>
            {{ galeriaGriega1.frasegaleria }}
            <i class="em em-zap" aria-role="presentation" aria-label="HIGH VOLTAGE SIGN"></i>
        </h2>
    </div>

</div>
<div class="contenedor_frasePresentacionGaleria">
    <h1>
        {{ galeriaGriega1.fraseH1 }}
    </h1>

    <p>
        {{ galeriaGriega1.primerParrafo }}
    </p>

</div>
