.contenedor_slider_gallery{
    display: flex;
    position: relative;
    background-image: url('../../../../../assets/images/Slider_galeria_griega.png');
    height: 100px;
    width: 100%;
    background-size: cover;
    margin-top: 0%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 30px;

    .contenedor_titulo_gallery{
        
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-left: 5%;

        h2{
            font-family: 'Texturina', serif;
            color: white;
            text-shadow: 3px 2px 3px rgb(21, 22, 21);
            margin-top: 30px;
            
            
    
    
            .em-zap{
                font-size: 1rem;
                text-shadow: 3px 2px 3px rgb(21, 22, 21);
            }
        }
    }

    


}

.contenedor_frasePresentacionGaleria{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: left;
    justify-content: left;
    margin-top: 40px;
    margin-left: 7%;
    margin-right: 10%;

    h1{
        font-family: 'Texturina', serif;
        color: rgb(121, 72, 8);
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: left;
    }

    p{
        font-family: 'Lora', serif;
        color: black;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        margin-bottom: 70px;
    }

}