

<div class="contenedor_footer">

    <div class="contenedor_frases">
        <p class="contenido_affter">
            <i class="em em-heart_eyes" aria-role="presentation" aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
            {{ phrase }} 
            <i class="em em-heartpulse" aria-role="presentation" aria-label="GROWING HEART"></i>
        </p>
        
        
       
        <p class="contenido_affter">{{ name }}</p>

    </div>


</div>
