.contenedor_footer{
    
    display: flex;
    height: 230px;
    background: linear-gradient(to bottom right, rgb(121, 72, 8), rgb(209, 121, 6));

    .contenedor_frases{
        
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:50%;
        margin-right: auto;
        margin-left: auto;
         font-size: 1.2rem;
    }

    .contenido_affter{
        color: wheat;
        font-size: 1.2rem;
        font-family: 'Texturina', serif;
        color: wheat;
        text-shadow: 3px 2px 3px rgb(21, 22, 21);

        


    }

}