.contenedor_slider{
    display: flex;
    position: relative;
    background-image: url('../../../../../assets/images/slider_home.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 0%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0px;
    padding-left: 0px;
    

    .contenedor_titulo{
        
        left: 50%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-right: auto;
        margin-left: auto;
    }

    h2{
        font-family: 'Texturina', serif;
        color: wheat;
        text-shadow: 3px 2px 3px rgb(21, 22, 21);
        
        


        .em-taurus{
            font-size: 1rem;
            text-shadow: 3px 2px 3px rgb(21, 22, 21);
        }
    }

    
}

.contenedor_frasePresentacion{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: auto;

    h1{
        font-family: 'Texturina', serif;
        color: rgb(121, 72, 8);
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }

    h3{
        font-family: 'Lora', serif;
        color: rgba(128, 128, 128, 0.904);
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        
    }

    p{
        font-family: 'Lora', serif;
        color: black;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        margin-bottom: 30px;
    }
    .contenedor_medusa{

        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 20px;

            .imagen_marta{
                height: 600px;
                
            }
            
            .texto_chici{
                width: 407px;
                height: 304px;
                padding: 0;
                background-image: url('../../../../../assets/images/bocadillo.png');
                background-size: contain;
                background-repeat: no-repeat;
                align-items: initial;

                .bocadillo{
                    width: 307px;
                    margin-top: 90px;
                    margin-right: 0;
                    margin-left: 50px;
                    padding: 0;
                    
            
                    
                     
                    

                    .chibi{
                        font-family: 'Lora', serif;
                        font-size: 0.9rem;
                        color: black;
                        text-align: right;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        
                         
    
                    }
                
                }
                

                

            }
            
    
    }
    

    .filete{
        margin-top: 50px;
        margin-bottom: 80px;

    }
}