<div class="contenedor_slider">

    <div class="contenedor_titulo">
        <h2>
            {{ wellcome.fraseBienvenida }}
            <i class="em em-taurus" aria-role="presentation" aria-label="TAURUS"></i>
        </h2>
    </div>
</div>


    <div class="contenedor_frasePresentacion">
        <h1>
            {{ wellcome.fraseH1 }}
        </h1>

        <h3>
            {{ wellcome.fraseH3 }}
        </h3>

        <p>
            {{ wellcome.primerParrafo }}
        </p>

        <div class="contenedor_medusa">

            <div class="texto_chici">
                <div class="bocadillo">
                    <p class="chibi">¡Hola! Soy Marta-Chibi, tu guía en esta web. Por cierto, ¡cuidado con faltar al respeto a los distintos Dios@s! Tienen muy malas pulgas, y no serías al primero que maldicen. Por lo demás, ¡bienvenid@ y gracias por visitarnos!</p>

                </div>
                </div>
            
            <img class="imagen_marta" src="../../../../../assets/images/Marta_chibi.png" alt="Marta-Chibi">

            
            
        </div>

        <hr class="filete" width=60% size=2 noshade="noshade">

    </div>


