

<div class="contenedor_nav">

   

    <nav class="nav">

        
        <div class="caja_link_1">
            <a class="link" role="button" routerLink="./home">{{ home }}</a>
        </div>

        <div class="caja_link_2">
            <a class="link" role="button" routerLink="./gallery">{{ gallery }}</a>
        </div>

        <div class="caja_link_3">
            <a class="link" role="button" routerLink="./about">{{ about }}</a>
        </div>


    </nav>

</div>
