.contenedor_nav{
   
    display: flex;
    height: 80px;
    align-items: center;
    flex-direction: row;

    
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;

        .contenedor_logo{
           
            max-width: 140px;
            max-height: 140px;
            
    
            

            img{
                background-size: contain;
                max-width: 140px;
            }
        }

        .caja_link_1{

        
            height: 100%;
            width: 150px;
            
        }
    
        .caja_link_2{
            
            height: 100%;
            width: 150px;
        }

        .caja_link_3{
            
            height: 100%;
            width: 200px;
        }

        a{
            font-family: 'Texturina', serif;
            text-decoration: none;
            color: rgb(78, 27, 6);
            font-size: 1.3rem;
            padding-bottom: 10px;
            
        }

        a:hover{
            text-shadow: 3px 2px 2px rgb(212, 212, 212);
            color: rgb(214, 102, 10);
            border: 0px;
            border-bottom: 3px solid  rgb(214, 102, 10);
            width: 100%;
            transition: all .3s;
            
            
        }



    }

    

