.contenedor_mitadPresentacion{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: auto;

    .contenedor_mapamundi{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        

        img{
            max-width: 1200px;
            width: 100%;
            margin-bottom: 20px;
            border-width: 15px;
            border-color: rgb(121, 72, 8);
            background-size: contain;
            
        }
    }

    h4{
        font-family: 'Lora', serif;
        color: rgba(128, 128, 128, 0.904);
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    p{
        font-family: 'Lora', serif;
        color: black;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        margin-bottom: 30px;
    }

    
}