<div class="contenedor_mitadPresentacion">

    <div class="contenedor_mapamundi">
        <img class="mapamundi" src="{{ enLaMitad.imagenMapamundi }}" alt="{{ enLaMitad.imagenAlt }}">
    </div>

    <h4>
        {{ enLaMitad.subtituloImagen }}
    </h4>

    <p>
        {{ enLaMitad.parrafoBajoImagen }}
    </p>

    

</div>
