.contenedor_ultimaParte{

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: auto;

    .contenedor_mapamundi2{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        

        img{
            max-width: 1200px;
            width: 100%;
            border-width: 15px;
            border-color: rgb(121, 72, 8);
            background-size: contain;
            
        }

    }

    .filete{
        margin-top: 50px;
        margin-bottom: 40px;

    }

    

    h1{
        font-family: 'Texturina', serif;
        color: rgb(121, 72, 8);
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }

    h3{
        font-family: 'Lora', serif;
        color: rgba(128, 128, 128, 0.904);
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        
    }

    p{
        font-family: 'Lora', serif;
        color: black;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        margin-bottom: 30px;
    }

    img.musas{
        max-width: 550px;
        border-radius: 150px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}