<div class="contenedor_ultimaParte">

    <div class="contenedor_mapamundi2">
        <img class="mapamundi" src="{{ finalizando.imagenMapamundi2 }}" alt="{{ finalizando.imagenAlt2 }}">
    </div>

    <hr class="filete" width=50% size=2 noshade="noshade">

    <h1>
        {{ finalizando.fraseH1 }}
    </h1>

    <h3>
        {{ finalizando.fraseH3 }}
    </h3>

    <p>
        {{ finalizando.primerParrafo }}
    </p>

    <p>
        {{ finalizando.segundoParrafo }}
    </p>

    <div class="contenedor_musas">
        <img class="musas" src="https://media1.tenor.com/images/ad2fc2ab18c7c7b92b0175710d0d77a1/tenor.gif?itemid=8113930" alt="gif_musas">
        
    </div>

</div>
