.contenedor_ultimaParte{

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: auto;

    
    h1{
        font-family: 'Texturina', serif;
        color: rgb(121, 72, 8);
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }

    p{
        font-family: 'Lora', serif;
        color: black;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        margin-bottom: 30px;
    }

    img.unicornio{
        height: 300px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}