<div class="contenedor_ultimaParte">

    <h1>
        {{ ending.fraseH1 }}
    </h1>

    <p>
        {{ ending.primerParrafo }}
    </p>

    <p>
        {{ ending.segundoParrafo }}
    </p>

    <div class="contenedor_unicornio">
        <img class="unicornio" src="https://media3.giphy.com/media/3oKIPfvFCwJDo6UnMA/giphy.gif" alt="gif_unicorn">
        
    </div>

</div>

