<div class="contenedor_slider">

    <div class="contenedor_titulo">
        <h2>
            {{ initAbout.fraseBienvenida }}
            <i class="em em-taurus" aria-role="presentation" aria-label="TAURUS"></i>
        </h2>
    </div>
</div>


    <div class="contenedor_frasePresentacion">
        <h1>
            {{ initAbout.fraseH1 }}
        </h1>

        <h3>
            {{ initAbout.fraseH3 }}
        </h3>

        <p>
            {{ initAbout.primerParrafo }}
        </p>

        <div class="contenedor_medusa">

            <div class="texto_chici">
                <div class="bocadillo">
                    <p class="chibi">¡Hola de nuevo! Mi nombre es Marta González; profesionalmente me dedico al Diseño Gráfico. Aparte de la Mitología, me encanta leer, dibujar y la música, entre otras muchas cosas, como estar constantemente aprendiendo :)</p>

                </div>
                </div>
            
            <img class="imagen_marta" src="../../../../../assets/images/Marta_chibi.png" alt="Marta-Chibi">

            
            
        </div>

        <hr class="filete" width=60% size=2 noshade="noshade">

    </div>
