/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: emoji;
    src: url("https://emoji-css.afeld.me/emoji.css");

}

*{
    margin: 0;
    padding: 0;
}