<div *ngFor= "let dios of arrayDiosesGriegos" class="conteniendo_medio">

    <div class="contenedor_tarjetaDios">

        <div class="yaDentro">
            <div>
                <h3 class="nameGod">{{dios.nameCharacter}}</h3>

                <div class="conteniendo_Imagen">
                    <img src="{{dios.image}}" alt="{{dios.imageAlt}}" class="dios">
                </div>
                
            </div>
            <div class="textoCard">
                <h4>Categoría:</h4>
                <p class="dios_negrita">{{dios.category}}</p>

                <h4>Título:</h4>
                <p>{{dios.godOf}}</p>

                <h4>Poderes:</h4>
                <p>{{dios.powers}}</p>

                <h4>Familia:</h4>
                <p>{{dios.family}}</p>

                <h4>Descripción:</h4>
                <p>{{dios.description}}</p>

            </div>
        </div>

        
    </div>

</div>
