.conteniendo_medio{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

    .contenedor_tarjetaDios{
        
        align-content: space-around;
        width: fit-content;
        height: fit-content;
        width: 1100px;
        height: 500;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
        background-color:rgb(247, 240, 231);
        box-shadow: 2px 2px 5px #999;
        border-radius: 60px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 60px;
        padding-bottom: 50px;

        .yaDentro{
            
            margin-left: 10px;
            display: flex;
            
            

            h3.nameGod{
                font-size: 2rem;
                font-family: 'Texturina', serif;
                color: rgb(121, 72, 8);
                text-align: left;
                margin-bottom: 20px;
                text-shadow: 2px 1px 2px rgb(202, 202, 202);
            }
        

            .conteniendo_Imagen{
                
                max-width: 350px;
                max-height: 500px;
                padding: 0px;
                margin: 0px;
                margin-right: 40px;

                img{
                    background-size: cover;
                    width: 350px;
                    height: 500px;
                }
            }
                .textoCard{
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;


                    h4{
                        font-family: 'Lora', serif;
                        color: rgb(121, 72, 8);
                        //text-align: left;
                        text-justify: left;
                    }

                    p{
                        font-family: 'Lora', serif;
                        color: black;
                        text-align: left;
                        margin-bottom: 10px;
                        font-size: 1rem;
                    }
                }

        }
        
    }
}